.theme-switch {
  display: inline-block;
  height: 1.5rem;
  position: relative;
  width: 3rem;
}

.theme-switch input {
  display: none;
}

.slider {
  background: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider::before {
  background: #fff;
  bottom: 4px;
  content: "";
  height: 1rem;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 1rem;
}

input:checked + .slider {
  background: var(--primary-color);
}

input:checked + .slider::before {
  transform: translateX(1.5rem);
}

.slider.round {
  border-radius: 3rem;
}

.slider.round::before {
  border-radius: 50%;
}

  